/*
** Simple Popup
** PhPixel
** http://www.phpixel.com/simple-popup/
*/
#sPopup-container{
z-index: 9000;
position: absolute;
left: 0;
top: 0;
background: url(bg.png);
width: 100%;
height:100%;
}
#sPopup-popup{
margin: 50px auto;
background: #fff;
padding: 15px;
border: 1px solid #999;
}
#sPopup-close{
float: right;
width: 18px;
height: 18px;
display: block;
background: url(close.png);
cursor: pointer;
margin-bottom: 15px;
}
#sPopup-close:hover{
background: url(closehover.png);
}
.sPopup-content{
display: none;
background: #ccc;
}