<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0
           http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Apache Any23 - Download</title>
    <author email="dev@any23.apache.org">Apache Any23 Team</author>
  </properties>

  <body>
    <section name="Download Apache Any23">
      <p>Apache Any23 is distributed in several formats for your convenience. Use a source archive if you intend to build
   Apache Any23 yourself. Otherwise, simply pick a ready-made binary distribution and follow the installation
   instructions given inside the archives. Additionally, you can use Any23 as a dependency, see the most recent release
   artifacts on <a href="https://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.apache.any23%22">Maven Central</a>.</p>

      <p>You will be prompted for a mirror - if the file is not found on yours, please be patient, as it may take 24
   hours to reach all mirrors.</p>

      <p>In order to guard against corrupted downloads/installations, it is highly recommended to
   <a href="https://www.apache.org/dev/release-signing#verifying-signature">verify the signature</a>
   of the release bundles against the public <a href="https://apache.org/dist/any23/KEYS">KEYS</a> used by the Apache Any23
   developers.</p>

      <p>Apache Any23 is distributed under the <a href="https://any23.apache.org/license.html"> Apache License, version 2.0</a>.</p>

      <subsection name="Apache Any23 Sources">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Mirror Download</th>
              <th>ASCII Signature</th>
              <th>SHA512 Checksum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Apache Any23 ${latestStableRelease} (Source tar.gz)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-${latestStableRelease}-src.tar.gz"> apache-any23-${latestStableRelease}-src.tar.gz</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-${latestStableRelease}-src.tar.gz.asc"> apache-any23-${latestStableRelease}-src.tar.gz.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-${latestStableRelease}-src.tar.gz.sha512"> apache-any23-${latestStableRelease}-src.tar.gz.sha512</a></td>
            </tr>
            <tr>
              <td>Apache Any23 ${latestStableRelease} (Source zip)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-${latestStableRelease}-src.zip"> apache-any23-${latestStableRelease}-src.zip</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-${latestStableRelease}-src.zip.asc"> apache-any23-${latestStableRelease}-src.zip.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-${latestStableRelease}-src.zip.sha512"> apache-any23-${latestStableRelease}-src.zip.sha512</a></td>
            </tr>
          </tbody>
        </table>
      </subsection>

      <subsection name="Apache Any23 Command Line Interface">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Mirror Download</th>
              <th>ASCII Signature</th>
              <th>SHA512 Checksum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Apache Any23 ${latestStableRelease} CLI (Binary tar.gz)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-cli-${latestStableRelease}.tar.gz"> apache-any23-cli-${latestStableRelease}.tar.gz</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-cli-${latestStableRelease}.tar.gz.asc"> apache-any23-cli-${latestStableRelease}.tar.gz.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-cli-${latestStableRelease}.tar.gz.sha512"> apache-any23-cli-${latestStableRelease}.tar.gz.sha512</a></td>
            </tr>
            <tr>
              <td>Apache Any23 ${latestStableRelease} CLI (Binary zip)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-cli-${latestStableRelease}.zip"> apache-any23-cli-${latestStableRelease}.zip</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-cli-${latestStableRelease}.zip.asc"> apache-any23-cli-${latestStableRelease}.zip.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-cli-${latestStableRelease}.zip.sha512"> apache-any23-cli-${latestStableRelease}.zip.sha512</a></td>
            </tr>
          </tbody>
        </table>
      </subsection>
    </section>

    <section name="Apache Any23 Plugins">
      <subsection name="Apache Any23 Basic Crawler">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Mirror Download</th>
              <th>ASCII Signature</th>
              <th>SHA512 Checksum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Apache Any23 Basic Crawler ${latestStableRelease} (Binary tar.gz)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-basic-crawler-${latestStableRelease}.tar.gz"> apache-any23-basic-crawler-${latestStableRelease}.tar.gz</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-basic-crawler-${latestStableRelease}.tar.gz.asc"> apache-any23-basic-crawler-${latestStableRelease}.tar.gz.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-basic-crawler-${latestStableRelease}.tar.gz.sha512"> apache-any23-basic-crawler-${latestStableRelease}.tar.gz.sha512</a></td>
            </tr>
            <tr>
              <td>Apache Any23 Basic Crawler ${latestStableRelease} (Binary zip)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-basic-crawler-${latestStableRelease}.zip"> apache-any23-basic-crawler-${latestStableRelease}.zip</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-basic-crawler-${latestStableRelease}.zip.asc"> apache-any23-basic-crawler-${latestStableRelease}.tar.gz.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-basic-crawler-${latestStableRelease}.zip.sha512"> apache-any23-basic-crawler-${latestStableRelease}.tar.gz.sha512</a></td>
            </tr>
          </tbody>
        </table>
      </subsection>

      <subsection name="Apache Any23 HTML Scraper">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Mirror Download</th>
              <th>ASCII Signature</th>
              <th>SHA512 Checksum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Apache Any23 HTML Scraper ${latestStableRelease} (Binary tar.gz)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-html-scraper-${latestStableRelease}.tar.gz"> apache-any23-html-scraper-${latestStableRelease}.tar.gz</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-html-scraper-${latestStableRelease}.tar.gz.asc"> apache-any23-html-scraper-${latestStableRelease}.tar.gz.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-html-scraper-${latestStableRelease}.tar.gz.sha512"> apache-any23-html-scraper-${latestStableRelease}.tar.gz.sha512</a></td>
            </tr>
            <tr>
              <td>Apache Any23 HTML Scraper ${latestStableRelease} (Binary zip)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-html-scraper-${latestStableRelease}.zip"> apache-any23-html-scraper-${latestStableRelease}.zip</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-html-scraper-${latestStableRelease}.zip.asc"> apache-any23-html-scraper-${latestStableRelease}.zip.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-html-scraper-${latestStableRelease}.zip.sha512"> apache-any23-html-scraper-${latestStableRelease}.zip.sha512</a></td>
            </tr>
          </tbody>
        </table>
      </subsection>

      <subsection name="Apache Any23 Office Scraper">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Mirror Download</th>
              <th>ASCII Signature</th>
              <th>SHA512 Checksum</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Apache Any23 Office Scraper ${latestStableRelease} (Binary tar.gz)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-office-scraper-${latestStableRelease}.tar.gz"> apache-any23-office-scraper-${latestStableRelease}.tar.gz</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-office-scraper-${latestStableRelease}.tar.gz.asc"> apache-any23-office-scraper-${latestStableRelease}.tar.gz.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-office-scraper-${latestStableRelease}.tar.gz.sha512"> apache-any23-office-scraper-${latestStableRelease}.tar.gz.sha512</a></td>
            </tr>
            <tr>
              <td>Apache Any23 Office Scraper ${latestStableRelease} (Binary zip)</td>
              <td><a href="https://www.apache.org/dyn/closer.lua/any23/${latestStableRelease}/apache-any23-office-scraper-${latestStableRelease}.zip"> apache-any23-office-scraper-${latestStableRelease}.zip</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-office-scraper-${latestStableRelease}.zip.asc"> apache-any23-office-scraper-${latestStableRelease}.zip.asc</a></td>
              <td><a href="https://www.apache.org/dist/any23/${latestStableRelease}/apache-any23-office-scraper-${latest.stable.released}.zip.sha512"> apache-any23-office-scraper-${latest.stable.released}.zip.sha512</a></td>
            </tr>
          </tbody>
        </table>
      </subsection>
    </section>

    <section name="Apache Any23 Service">
      <subsection name="WAR packages">
        <p>Various WAR artifacts were made available for Any23 releases prior to 2.2. Post 2.2, this is not longer the case. Reasoning behind this relates to the size of the WAR artifcts post introduction of the <a href="https://github.com/apache/any23/tree/master/plugins/openie">Open Information Extraction (Open IE) module</a>. This grew the artifacts to ~1GB which became too large to distribute across the Apache global mirror network.</p>
        <p>Release Any23 WAR artifacts can be generated by downloading one of the <a href="#Apache_Any23_Sources">Sources Artifacts</a> and then building the WAR artifacts from there.</p>
        <p>WAR artifacts prior to 2.2 can be found in the <a href="http://archive.apache.org/dist/any23/">Apache Any23 Artifact Archive</a>.</p>
        <p>For users merely wanting to see what the Any23 Service looks like and does, visit <b><a href="http://any23.org"></a></b>.</p>
      </subsection>
    </section>

    <section name="Verify Releases">
      <subsection>
        <p>It is essential that you verify the integrity of the downloaded files using the PGP, and/or SHA signatures. published with every Any23 release. Please read <a href="http://httpd.apache.org/dev/verification.html">Verifying Apache HTTP Server Releases</a> for more information on why you should verify our releases. We strongly recommend you verify your downloads with at least PGP Guidance for doing so is provided below.</p>
      </subsection>
      <subsection name="PGP Signatures">
        <p>The PGP signatures can be verified using PGP or GPG. First download the <a href="https://www.apache.org/dist/any23/KEYS">KEYS</a> as well as the asc signature file for the relevant distribution. <b>N.B.</b> Make sure you get these files from the main distribution directory, rather than from a mirror. Then verify the signatures using the following example</p>
        <code>$ gpg --import KEYS</code>
        <code>$ gpg --verify apache-any23-${latest.stable.released}-src.tar.gz.asc apache-any23-${latest.stable.released}-src.tar.gz</code>
        <p>The files in the most recent release are signed by Lewis John McGibbney (CODE SIGNING KEY) lewismc@apache.org 48BAEBF6</p>
      </subsection>
      <subsection name="SHA512 Signatures">
        <p>Alternatively, you can verify the SHA512 signatures on the files. A unix program called md5 or md5sum is included in many unix distributions. Use the following example</p>
        <code>$ sha512sum apache-any23-${latest.stable.released}-src.tar.gz</code>
        <p>... output should match the string in apache-any23-${latest.stable.released}-src.tar.gz.sha512</p>
      </subsection>
    </section>

  </body>
</document>
